@using ConnectorCenter.Models.Settings;
@using ConnectorCenter.Services.Authorize;
@using ConnectorCore.Models.VisualModels;
@using ConnectorCore.Models.VisualModels.Interfaces;
@model ConnectorCenter.Views.Settings.MySettingsModel
@{
    Layout = "~/Views/Shared/ViewBase.cshtml";
}
@functions{
    private int[] GetColorDepths()
    {
        return new int[] { 8, 16, 24, 32 };
    }
}
    <script src="/js/jscolor/jscolor.js"></script>
    <div class="container panel" style="height:80vh;">
        <form>
            <!--Logo-->
            <div class="row" style="height:10vh; margin:0px 3vw">
                <div class="col-lg-auto">
                    <h1 class="textLogo" style="margin:2vh 0px 2vh 0vw;">Мои настройки</h1>
                </div>
                <div class="col">
                    <div class="d-flex align-items-center justify-content-end h-100">
                        <button class="iconButton mx-2" title="Назад" formaction="/settings" formmethod="get">
                            <svg style="width:2vh;height:2vh" viewBox="0 0 24 24" >
                                <path class="path" d="M20 13.5C20 17.09 17.09 20 13.5 20H6V18H13.5C16 18 18 16 18 13.5S16 9 13.5 9H7.83L10.91 12.09L9.5 13.5L4 8L9.5 2.5L10.92 3.91L7.83 7H13.5C17.09 7 20 9.91 20 13.5Z" />
                            </svg>
                        </button>
                        <button class="iconButton mx-2" formaction="/dashboard" formmethod="get" title="На главную">
                            <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                                <path class="path" d="M21,16V4H3V16H21M21,2A2,2 0 0,1 23,4V16A2,2 0 0,1 21,18H14V20H16V22H8V20H10V18H3C1.89,18 1,17.1 1,16V4C1,2.89 1.89,2 3,2H21M5,6H14V11H5V6M15,6H19V8H15V6M19,9V14H15V9H19M5,12H9V14H5V12M10,12H14V14H10V12Z" />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
        </form>
        <!--separator-->
        <div class="row" style="margin:0px 3vw">
            <div class="separator" style="height:1px;">

            </div>
        </div>
        <!--userSettings-->
        <div class="row" style=" height:70vh; overflow:auto; overflow-x:visible; overflow-y:visible;">
                <div class="scrollDiv">
                    <div class="d-flex justify-content-center">
                        <div class="container" style="width:50%;">
                            <!--userSettings-->
                            <form>
                                <div class="row">
                                    <h1 class="text text-center fw-bold" style="font-size:2vh; margin:2vh 0px;">Общие:</h1>                                    
                                </div>
                                <div class="row">
                                    <div class="col">
                                        <p class="text">Строка приветствия</p>
                                    </div>
                                    <div class="col">
                                        <input type="number" name="Id" hidden
                                               value="@Model.CurrentUser.UserSettings.Id" />
                                        <input type="number" name="AppUserId" hidden
                                               value="@Model.CurrentUser.Id" />
                                        <input type="text" name="HelloText" class="textbox text-center w-100"
                                            value="@Model.CurrentUser.UserSettings.HelloText" />
                                    </div>
                                </div>                            
                                <!--Save-->
                                <div class="row" style="margin:3vh;">
                                    <div class="d-flex justify-content-center">
                                        <button class="button" formaction="/settings/SaveMyUserSettings" formmethod="post">
                                            <h1 class="text text-center fw-bold">Сохранить</h1>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="separator" style="height:1px;">
                                </div>
                            </div>
                            <!--colorScheme-->
                            <form>
                                <div class="row">
                                    <h1 class="text text-center fw-bold" style="font-size:2vh; margin:2vh 0px;">Цветовая схема:</h1>
                                    <input type="number" name="Id" hidden
                                           value="@Model.CurrentUser.VisualScheme.ColorScheme.Id" />
                                    <input type="number" name="VisualSchemeId" hidden
                                            value="@Model.CurrentUser.VisualScheme.ColorScheme.VisualSchemeId" />
                                </div>

                                @foreach (KeyValuePair<string, string> color in Model.CurrentUser.VisualScheme.ColorScheme.GetColorProperties())
                                {
                                    <div class="row">
                                        <div class="col">
                                            <p class="text">@(IColorScheme<string>.ColorFieldName(color.Key))</p>
                                        </div>
                                        <div class="col">                                        
                                            <input type="text" name="@(color.Key)" style="max-width:100%;max-height:2vh;" class="text colorPicker"
                                                   value="@color.Value" data-jscolor="{
                                                                    backgroundColor: '@Model.CurrentUser.VisualScheme.ColorScheme.Panel',
                                                                    borderColor:'@Model.CurrentUser.VisualScheme.ColorScheme.Border',
                                                                    borderRadius:10
                                                            }">
                                </div>
                                    </div>
                                }                                
                                <!--Save-->
                                <div class="row" style="margin:3vh;">
                                    <div class="d-flex justify-content-center">
                                        <button class="button" formaction="/settings/DefaultMyColorScheme" formmethod="post"
                                                style="margin: 0px 2vw;">
                                                <h1 class="text text-center fw-bold">Сбросить</h1>
                                        </button>
                                        <button class="button" formaction="/settings/SaveMyColorScheme" formmethod="post">
                                            <h1 class="text text-center fw-bold">Сохранить</h1>
                                        </button>
                                    </div>
                                </div>
                            </form>
                            <div class="row">
                                <div class="separator" style="height:1px;">
                                </div>
                            </div>
                            <!--fontScheme-->
                            <form>
                            <div class="row">
                                <h1 class="text text-center fw-bold" style="font-size:2vh; margin:2vh 0px;">Шрифты:</h1>
                                <input type="number" name="Id" hidden
                                       value="@Model.CurrentUser.VisualScheme.FontScheme.Id" />
                                <input type="number" name="VisualSchemeId" hidden
                                        value="@Model.CurrentUser.VisualScheme.FontScheme.VisualSchemeId" />
                            </div>    
                            <div class="row">
                                <div class="col">
                                    <p class="text">Основной шрифт</p>
                                </div>
                                <div class="col">                                    
                                    <input type="text" name="Font" class="textbox text-center w-100"
                                           value="@Model.CurrentUser.VisualScheme.FontScheme.Font" />
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <p class="text">Множитель размера(%)</p>
                                </div>
                                <div class="col">
                                    <input type="number" name="FontMultiplierPercent" class="textbox text-center w-100"
                                           value="@Model.CurrentUser.VisualScheme.FontScheme.FontMultiplierPercent" />
                                </div>
                            </div>
                        <!--Save-->
                        <div class="row" style="margin:3vh;">
                            <div class="d-flex justify-content-center">
                                <button class="button" formaction="/settings/SaveMyFontScheme" formmethod="post">
                                    <h1 class="text text-center fw-bold">Сохранить</h1>
                                </button>
                            </div>
                        </div>
                    </form>
                    <!--separator-->
                    <div class="row">
                        <div class="separator" style="height:1px;">
                        </div>
                    </div>
                    <form>
                        <div class="row">
                            <h1 class="text text-center fw-bold" style="font-size:2vh; margin:2vh 0px;">Настройки RDP:</h1>
                            <input type="number" name="Id" hidden
                                   value="@Model.CurrentUser.UserSettings.RdpSettings.Id" />
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Глубина цвета</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="ColorDepth">
                                        @foreach (int colorDepth in GetColorDepths())
                                        {
                                            if(colorDepth == Model.CurrentUser.UserSettings.RdpSettings.ColorDepth)
                                            {
                                                <option selected value="@colorDepth">@colorDepth.ToString()</option>
                                            }
                                            else
                                            {
                                                <option value="@colorDepth">@colorDepth.ToString()</option>
                                            }
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Авто масштаб</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="SmartSizing">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.SmartSizing)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Авто полный экран</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="AutoFullScreen">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.AutoFullScreen)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Выключить CtrAltDel</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="DisableCtrlAltDel">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.DisableCtrlAltDel)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Проброс дисков</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="RedirectDrives">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.RedirectDrives)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Проброс портов</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="RedirectPorts">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.RedirectPorts)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Проброс принтеров</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="RedirectPrinters">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.RedirectPrinters)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Проброс смарт карт</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="RedirectSmartCards">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.RedirectSmartCards)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Проброс DirectX</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="RedirectDirectX">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.RedirectDirectX)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col">
                                <p class="text">Авто переподключение</p>
                            </div>
                            <div class="col">
                                <div class="select">
                                    <select name="EnableAutoReconnect">
                                        @if (Model.CurrentUser.UserSettings.RdpSettings.EnableAutoReconnect)
                                        {
                                            <option selected value="True">Да</option>
                                            <option value="False">Нет</option>
                                        }
                                        else
                                        {
                                            <option value="True">Да</option>
                                            <option selected value="False">Нет</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="row" style="margin:3vh;">
                            <div class="d-flex justify-content-center">
                                <button class="button" formaction="/settings/SaveMyRdpSettings" formmethod="post">
                                    <h1 class="text text-center fw-bold">Сохранить</h1>
                                </button>
                            </div>
                        </div>
                    </form>

                        </div>
                    </div>
                </div>
            </div>        
    </div>
