@using ConnectorCore.Models;
@using ConnectorCore.Models.Connections;
@model ConnectorCenter.Views.Servers.ShowConnectionsModel
@{
    Layout = "~/Views/Shared/ViewBase.cshtml";
}

    <div class="container panel" style="height:80vh;">
        <!--Logo-->
    <form>
        <div class="row" style="margin:0px 3vw">
            <div class="col-lg-auto">
                <h1 class="textLogo" style="margin:2vh 0px 2vh 0vw;">Подключения к '@Model.Server.Name'</h1>
            </div>

            <div class="col">
                <div class="d-flex align-items-center justify-content-end h-100">
                    <input type="text" style="display:none" name="serverId" value="@Model.Server.Id"/>
                    <button class="iconButton mx-2" title="Добавить подключение" formaction="/connections/add" formmethod="get">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24" >
                            <path class="path" d="M19,13H13V19H11V13H5V11H11V5H13V11H19V13Z" />
                        </svg>
                    </button>
                    <button class="iconButton " formaction="/servers/showConnections/@Model.Server.Id" formmethod="get" title="Обновить">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M17.65,6.35C16.2,4.9 14.21,4 12,4A8,8 0 0,0 4,12A8,8 0 0,0 12,20C15.73,20 18.84,17.45 19.73,14H17.65C16.83,16.33 14.61,18 12,18A6,6 0 0,1 6,12A6,6 0 0,1 12,6C13.66,6 15.14,6.69 16.22,7.78L13,11H20V4L17.65,6.35Z" />
                        </svg>
                    </button>
                    <button class="iconButton mx-2" formaction="/servers" formmethod="get" title="Назад">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M20 13.5C20 17.09 17.09 20 13.5 20H6V18H13.5C16 18 18 16 18 13.5S16 9 13.5 9H7.83L10.91 12.09L9.5 13.5L4 8L9.5 2.5L10.92 3.91L7.83 7H13.5C17.09 7 20 9.91 20 13.5Z" />
                        </svg>
                    </button>
                                      
                </div>
            </div>
        </form>
        </div>  
        <!--separator-->
        <div class="row" style="margin:0px 3vw">
            <div class="separator" style="height:1px;">

            </div>
        </div>
        <!--List-->
        <form>
    <div class="row" style="margin:0px 2vw; height:70vh;">
                @if(Model.Server.Connections.Any())
                {
                <div class="scrollDiv">
                    <table class="table my-3 w-100">
                        <thead>
                            <tr>
                                <th scope="col" class="px-3 text text-center">Имя</th>
                                <th scope="col" class="px-3 text text-center">Тип</th>
                                <th scope="col" class="px-3 text text-center">Порт</th>
                                <th scope="col" class="px-3 text text-center">Доступно</th>
                                <th scope="col" class="px-3 text text-center">Имя пользователя</th>
                                <th scope="col" class="px-3 text text-center">Логин</th>
                                <th scope="col" class="px-3 text text-center">Действия</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (Connection connection in Model.Server.Connections.OrderByDescending(conn => conn.ConnectionName))
                            {
                                <tr>
                                    <td class="text text-center">@connection.ConnectionName</td>
                                    <td class="text text-center">@connection.ConnectionType.ToString()</td>
                                    <td class="text text-center">@connection.Port</td>
                                @if (connection.IsAvailable)
                                    {
                                    <td class="text text-center">Да</td>
                                    }
                                    else
                                    {
                                        <td class="text text-center">Нет</td>
                                    }
                                    <td class="text text-center">@connection.ServerUser?.Name</td>
                                    <td class="text text-center">@connection.ServerUser?.Credentials?.Login</td>
                                    <td class="text text-center">
                                        <div class="container d-flex justify-content-center">
                                        @if (connection.IsAvailable)
                                            {
                                                <button class="iconButton mx-1" title="Сделать недоступным"
                                                        formaction="/connections/changeAcessMode?Id=@connection.Id" formmethod="post">
                                                    <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                                                        <path class="path" d="M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10A2,2 0 0,1 6,8H15V6A3,3 0 0,0 12,3A3,3 0 0,0 9,6H7A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,17A2,2 0 0,1 10,15A2,2 0 0,1 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17Z" />
                                                    </svg>
                                                </button>
                                            }
                                            else
                                            {
                                                <button class="iconButton mx-1" title="Сделать доступным"
                                                    formaction="/connections/changeAcessMode?Id=@connection.Id" formmethod="post">
                                                    <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                                                        <path class="path" d="M12,17C10.89,17 10,16.1 10,15C10,13.89 10.89,13 12,13A2,2 0 0,1 14,15A2,2 0 0,1 12,17M18,20V10H6V20H18M18,8A2,2 0 0,1 20,10V20A2,2 0 0,1 18,22H6C4.89,22 4,21.1 4,20V10C4,8.89 4.89,8 6,8H7V6A5,5 0 0,1 12,1A5,5 0 0,1 17,6V8H18M12,3A3,3 0 0,0 9,6V8H15V6A3,3 0 0,0 12,3Z" />
                                                    </svg>
                                                    
                                                </button>
                                            
                                            }
                                            <input type="text" style="display:none;" value="@connection.Id" name="connectionId"/>
                                            <button class="iconButton" title="Изменить @connection.ConnectionName"
                                            formaction="/connections/edit/@connection.Id" formmethod="get">
                                                <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                                                    <path class="path" d="M14.06,9L15,9.94L5.92,19H5V18.08L14.06,9M17.66,3C17.41,3 17.15,3.1 16.96,3.29L15.13,5.12L18.88,8.87L20.71,7.04C21.1,6.65 21.1,6 20.71,5.63L18.37,3.29C18.17,3.09 17.92,3 17.66,3M14.06,6.19L3,17.25V21H6.75L17.81,9.94L14.06,6.19Z" />
                                                </svg>
                                            </button>
                                            <button class="iconButton mx-1" title="Удалить"
                                                formaction="/connections/delete?Id=@connection.Id" formmethod="post">
                                                <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                                                    <path class="path" d="M14.12,10.47L12,12.59L9.87,10.47L8.46,11.88L10.59,14L8.47,16.12L9.88,17.53L12,15.41L14.12,17.53L15.53,16.12L13.41,14L15.53,11.88L14.12,10.47M15.5,4L14.5,3H9.5L8.5,4H5V6H19V4H15.5M6,19A2,2 0 0,0 8,21H16A2,2 0 0,0 18,19V7H6V19M8,9H16V19H8V9Z" />
                                                </svg>
                                            </button>                                       
                                        </div>    
                                    </td>
                                </tr>
                             }
                        </tbody>
                    </table>
                    </div>
                }
                else{
                    <p class="text text-center m-3">Список пуст</p>
                }
            </div>
        </form>
</div>
