@using ConnectorCore.Models;
@model ConnectorCenter.Views.AppUsers.EditModel
@{
    Layout = "~/Views/Shared/ViewBase.cshtml";
}
@functions{
    private string RoleToString(AppUser.AppRoles role){
        switch(role){
            case AppUser.AppRoles.Administrator:
                return "Администратор";
            case AppUser.AppRoles.Support:
                return "Поддержка";
            case AppUser.AppRoles.User:
                return "Пользователь";
            default:
                return "Неизвестная роль";
        }
    }
}

<div class="container panel" style="height:80vh;">
    <!--Logo-->
    <form>
        <div class="row" style="margin:0px 3vw">
            <div class="col-lg-auto">
                <h1 class="textLogo" style="margin:2vh 0px 2vh 0vw;">Изменение пользователя</h1>
            </div>
            <div class="col">
                <div class="d-flex align-items-center justify-content-end h-100">
                    <button class="iconButton mx-2" title="Назад к списку" formaction="/appusers" formmethod="get">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M20 13.5C20 17.09 17.09 20 13.5 20H6V18H13.5C16 18 18 16 18 13.5S16 9 13.5 9H7.83L10.91 12.09L9.5 13.5L4 8L9.5 2.5L10.92 3.91L7.83 7H13.5C17.09 7 20 9.91 20 13.5Z" />
                        </svg>
                    </button>
                    <button class="iconButton mx-2" formaction="/dashboard" formmethod="get" title="На главную">
                        <svg style="width:2vh;height:2vh" viewBox="0 0 24 24">
                            <path class="path" d="M21,16V4H3V16H21M21,2A2,2 0 0,1 23,4V16A2,2 0 0,1 21,18H14V20H16V22H8V20H10V18H3C1.89,18 1,17.1 1,16V4C1,2.89 1.89,2 3,2H21M5,6H14V11H5V6M15,6H19V8H15V6M19,9V14H15V9H19M5,12H9V14H5V12M10,12H14V14H10V12Z" />
                        </svg>
                    </button>
                </div>
            </div>
        </div>
    </form>
    <!--separator-->
    <div class="row" style="margin:0px 3vw">
        <div class="separator" style="height:1px;">
        </div>
    </div>
    <!--menu-->
    <form>
        <div class="row" style="margin: 3vh 3vw;">
            <div class="d-flex justify-content-center">
                <div class="container w-50">
                    <div class="row">
                        <h1 class="text text-center fw-bold" style="font-size:2vh;">Редактируемый пользователь:</h1>
                    </div>
                    <div class="row">
                        <div class="col-3 ">
                            <p class="text">Имя</p>
                        </div>
                        <div class="col">
                            <input type="text" name="Id" style="display:none" value="@Model.User.Id"/>
                            <input type="text" name="Name" class="textbox text-center w-100" required 
                            value="@Model.User.Name"/>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p class="text">Логин</p>
                        </div>
                        <div class="col">
                            <input type="text" name="Credentials.Login" class="textbox text-center w-100" required
                                   value="@Model.User.Credentials?.Login" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p class="text">Пароль</p>
                        </div>
                        <div class="col">
                            <input type="password" name="Credentials.Password" class="textbox text-center w-100" required
                                   value="@Model.User.Credentials?.Password" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p class="text">Роль</p>
                        </div>
                        <div class="col">
                            <div class="select">
                                <select name="Role">
                                    <option selected value="@Model.User.Role.ToString()">@RoleToString(Model.User.Role)</option>
                                    @foreach (AppUser.AppRoles role in (AppUser.AppRoles[])Enum.GetValues(typeof(AppUser.AppRoles)))
                                    {
                                        if (Model.User.Role != role)
                                        {
                                            <option value="@role.ToString()">@RoleToString(role)</option>
                                        }
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-3">
                            <p class="text">Активен</p>
                        </div>
                        <div class="col">
                            <div class="select">
                                <select name="IsEnabled">
                                    @if(Model.User.IsEnabled){
                                        <option selected value="True">Да</option>
                                        <option value="False">Нет</option>
                                    }
                                    else
                                    {
                                        <option value="True">Да</option>
                                        <option selected value="False">Нет</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                    <div class="row" style="margin:3vh;">
                        <div class="d-flex justify-content-center">
                            <button class="button" formaction="/appusers/edit" formmethod="post">
                                <h1 class="text text-center fw-bold">Сохранить</h1>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>
</div>
